{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Points gained</th>
                <th>Date/Time</th>
            </tr>
        </thead>
        <tbody>
            {% for ph in points_history %}
            <tr>
                <td>{{ ph.points_gained | xp }}</td>
                <td>{{ ph.game_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}