{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" type="text" placeholder="Username" class="form-control">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" type="password" placeholder="Password" class="form-control">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" type="password" placeholder="Confirm Password" class="form-control">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}